html,
body {
  margin: 0px;
  height: 100%;
  min-height: 100%;
  scrollbar-color: #989898 #f2f1f1;
  scrollbar-width: thin;
}
* {
  box-sizing: border-box;
}
.round-button {
  width: fit-content;
  border-radius: 23px !important;
}
.primary-color-title.primary-color-title {
  color: var(--ant-color-primary);
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400 !important;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.primaryHover {
  &:hover {
    color: var(--ant-color-link-hover);
  }
}
.secondary.secondary {
  color: var(--ant-color-text-secondary);
}
.showOnMobile.showOnMobile {
  display: none;
}
:-webkit-autofill {
  box-shadow: none;
  -webkit-text-fill-color: black;
  transition: background-color 5000s ease-in-out 0s;
}

.ant-card.ant-card.ant-card {
  box-shadow:
    rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.ant-table-ping-left .ant-table-container::before,
.ant-table-ping-right .ant-table-container::after,
.ant-table-cell-fix-right-last::after,
.ant-table-cell-fix-right-last::before {
  box-shadow: none !important;
}
@media (max-width: 768px) {
  .hideMobile {
    display: none !important;
  }
  .showOnMobile.showOnMobile {
    display: flex;
  }
}
